.lead{
  font-family: 'Dancing Script', cursive;
  font-family: 'Lateef', cursive;
  font-weight: bold;

}
p{
  font-family: 'Dancing Script', cursive;
  font-family: 'Lateef', cursive;
  font-weight: bold;
  font-size: 20px;
